@import "header.css";

/* BODY */
body {
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* MAIN */
#my_synth_body {
    margin: 120px 5em 5em 5em;
}

/* TITRE */
.titre {
    font-size: 2em;
}

/* CONTAINER */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border-radius: 15px;
    padding: 2em;
    background-color: rgb(243, 243, 243);

    box-shadow: inset 12px 12px 12px rgba(0, 0, 0, 0.1),
                inset -5px -5px 10px rgb(255, 255, 255);
}

/* FORM */
.submission-form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

/* GROUP */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* INPUT */
.form-input {
    padding: 12px;
    border-radius: 15px;
    border: none;
    background-color: white;

    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
                -5px -5px 10px rgb(255, 255, 255);

    font-size: 1em;
}

.form-input:hover {
    outline: 2px solid rgb(43, 255, 0);
}

/* BUTTON */
.new_synth_button {
    padding: 10px 15px;
    background-color: rgb(15, 179, 15);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: fit-content;

    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

.new_synth_button:hover {
    background-color: rgb(10, 140, 10);
}

/* TEXT */
.smooth_policy {
    font-family: nunitosans,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

.white_text {
    color: white;
}

/* LINKS */
a {
    color: inherit;
    text-decoration: none;
}